<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mphj.accountry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AccountryApplication"
        android:allowBackup="true"
        android:icon="@drawable/account"
        android:label="@string/app_name"
        android:roundIcon="@drawable/account"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewStorageActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.NewCustomerActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.NewProductActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.BarcodeReaderActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.SelectStorageActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.SelectCustomerActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.SelectProductActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.ImportProductActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".activity.GetCountActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity android:name=".activity.ExportProductActivity"
            android:theme="@style/AppTheme.Dialog.NoTitle"></activity>
    </application>

</manifest>